pymupdf
openai
llama_index
llama-index qdrant_client pyMuPDF tools frontend git+https://github.com/openai/CLIP.git easyocr
llama-index-vector-stores-qdrant
llama-index-multi-modal-llms-openai
llama-index-llms-openai